@using ScoreboardClient.Models.ViewModels

@model ScoreboardClient.Models.ViewModels.AddEditPlayerViewModel
@{
    string AddEdit = "";
    if (Model.AddEdit == AddEditPlayer.Add)
    {
        AddEdit = "Add";
    }
    else
    {
        AddEdit = "Edit";
    }
}

<div class="text-center">
    <h1>@AddEdit Player</h1>
    <form method="POST" asp-action="@(AddEdit)Player" asp-controller="Teams">
        @if (AddEdit == "Edit")
        {
            <input type="hidden" name="PlayerId" value="@Model.Player.PlayerId" />
        }
        <input type="hidden" name="TeamId" value="@Model.Player.TeamId" />
        <div class="form-group">
            <label>First Name </label>
            <input type="text" name="FirstName" value="@Model.Player.FirstName" class="form-control" />
            <label>Last Name: </label>
            <input type="text" name="LastName" value="@Model.Player.LastName" class="form-control" />
            <label>Number: </label>
            <input type="text" name="PlayerNum" value="@Model.Player.PlayerNum" class="form-control" />
            <label>Position: </label>
            <input type="text" name="Position" value="@Model.Player.Position" class="form-control" />
            <label>Picture Url: </label>
            <input type="text" name="Picture" value="@Model.Player.Picture" class="form-control" />
        </div>
        <button class="btn btn-lg btn-primary" name="Submit" value="Submit" type="Submit">Submit</button>
    </form>
</div>
