@model ScoreboardClient.Models.ViewModels.LeagueHomeViewModel;

@{
    ViewData["Title"] = "League Home";
}
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">


@await Html.PartialAsync("_PageMessages", Model.Messages)

@if (Model.League == null)
{
    <div id="JoinLeagueDiv">
        <h2>Join League</h2>
        <form method="POST" asp-action="JoinLeague" asp-controller="Home" autocomplete="off">
            <input type="hidden" autocomplete="false" style="display:none"/>
            <label>League Key: </label>
            <input type="text" class="form-control" name="leagueKey" placeholder="League Key" required />
            <label>Password: </label>
            <input type="password" class="form-control" name="password" placeholder="Password" required />
            <br />
            <button class="btn btn-lg btn-primary" name="Submit" value="Join" type="Submit">Join</button>
        </form>
    </div>
}
else
{
    <div id="LeagueInfo" class="text-center">
        <h1>League: @Model.League.LeagueName</h1>
        <div class="leagueLogoDiv">
            <img alt="League Logo" src="@Model.League.Logo" style="max-height:500px; max-width:500px;" />
        </div>
        <div id="SeasonInfo">
            @if (Model.Season == null)
            {
                <h2>Start New Season</h2>
                <form method="POST" asp-action="NewSeason" asp-controller="Home" autocomplete="off">
                    <input type="hidden" autocomplete="false" style="display:none" />
                    <div class="form-group">
                        <label>Season End Date: </label>
                        <input data-provide="datepicker" class="datepicker form-control" name="endDate">
                    </div>
                    <button class="btn btn-lg btn-primary" name="Submit" value="Join" type="Submit">Create</button>
                </form>
            }
            else
            {
                <h4>Current Season</h4>
                <b>Started: </b>@Model.Season.SeasonStart.ToString("dd MMMM yyyy")<br />
                <b>Ends: </b>@Model.Season.SeasonEnd.ToString("dd MMMM yyyy")
                <br /><br />
                @if (Model.LeagueTeamList != null && Model.LeagueTeamList.Count > 0)
                {
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Team</th>
                                <th>Wins</th>
                                <th>Losses</th>
                                <th>Ties</th>
                            </tr>
                        </thead>
                        @foreach (var team in Model.LeagueTeamList)
                        {
                            int teamWins = 0;
                            int teamLosses = 0;
                            int teamTies = 0;
                            if(Model.LeagueCompleteGameList != null)
                            {
                                teamWins = Model.LeagueCompleteGameList.Count(x => x.WinningTeamId == team.TeamId);
                                teamLosses = Model.LeagueCompleteGameList.Count(x => x.LosingTeamId == team.TeamId);
                                teamTies = Model.LeagueCompleteGameList.Count(x => (x.WinningTeamId == team.TeamId || x.LosingTeamId == team.TeamId) && x.TieFlag);
                            }
                            <tr>
                                <td class="text-left">@team.TeamName</td>
                                <td class="text-left" style="padding-left:15px;">@teamWins</td>
                                <td class="text-left" style="padding-left:15px;">@teamLosses</td>
                                <td class="text-left" style="padding-left:15px;">@teamTies</td>
                            </tr>
                        }
                    </table>
                }
            }
        </div>
        <br /><br />
        <div>
            @if (Model.Season != null){<a class="btn btn-lg btn-primary" id="ViewReportBtn" href="/Home/LeagueReport">View Report</a>} <button class="btn btn-lg btn-primary" id="ChangeLeagueBtn">Change League</button>
        </div>
        <div id="ChangeLeagueDiv" style="display:none;">
            <h2>Change League</h2>
            <form method="POST" asp-action="JoinLeague" asp-controller="Home" autocomplete="off">
                <input type="hidden" autocomplete="false" style="display:none" />
                <label>League Key: </label>
                <input type="text" class="form-control" name="leagueKey" placeholder="League Key" required />
                <label>Password: </label>
                <input type="password" class="form-control" name="password" placeholder="Password" required />
                <br />
                <button class="btn btn-lg btn-primary" name="Submit" value="Join" type="Submit">Join</button>
            </form>
        </div>
    </div>
}

@section scripts{
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="~/js/league.js"></script>
}